@model AdminPanel.Common.Models.Restaurant.Restaurant

<div class="mt-2" style="width:50%">
    <form asp-action="Create">
        <h2>Add Restaurant</h2>
        
        <div class="mb-3">
            <label asp-for="Name" class="form-label">Name</label>
            <input asp-for="Name" type="text" class="form-control">
            <span class="text-danger" asp-validation-for="Name"></span>
        </div>
  
        @if (TempData["msg"] != null)
        {
            <div class="mb-3">
                @TempData["msg"]
            </div>
        }   
        <button type="submit" class="btn btn-primary">Submit</button>
        <a href="/Restaurant/Index" class="btn btn-primary">See all</a>
    </form>
</div>